body {
    background-color: hsl(60, 5%, 96%); 
    font-family:sans-serif;
}
h1 {
    text-align:center;
    color:#920031;
    background:#f4f4f4;
}

table {
    border: 2px solid #4E026E;
}

td {
    text-align: center;
    border: 2px solid #4E026E;
}

img{
    width:100px ;
    height: 100px;
}



